/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

body {
    font-family: 'Copse', serif;
    text-align:center;
    background-color: skyblue;
  }

header {
    text-align:center;
}

button {
    background-color:#8d2ab5;  
    color: white;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
    border-radius: 5px;
    font-size:16px;
}

#spin-container {
    display:none;
    color: #74119c;
    font-size:64px;
}

table {
    margin:auto;
}

thead tr td {
    width: 175px;
    height:100px;
    text-align:center;
    background-color: #115ff4;
    font-weight:bold;
    font-size:16px;
    text-transform:uppercase;
    color: white;
    border-radius: 5px;
}

thead tr td::first-letter {
    text-transform:uppercase;
}

tbody tr td {
    width: 175px;
    height:100px;
    text-align:center;
    background-color: #115ff4;
    font-size:14px;
    color:white;
    border-radius: 5px;
}