{% extends 'base.html' %}

{% block title %}
    Boggle Game
{% endblock %}

{% block content %}
    <h1>Boggle Game</h1>
    
    <table>
    {% for row in board %}
        <tr>
        {% for element in row %}
            <td>{{element}}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>

    <form id="guess-form" >
        <input type="text" id="user-input" name="guess" placeholder="Guess the word">
        <button type="text">Enter Guess</button>
    </form>

    <!-- <div>
        The guess is {{guess}}
    </div> -->
{% endblock %}